#不需要提交按的文件夹
.idea/
.mvn/
*.iml
mvnw
mvnw.cmd


## 自动生成代码的位置
target/

api/target/



consumer/target/





provider/target/




user/user-api/target/
user/user-consumer/target/
user/user-provider/target/
